streamlit==1.56.0
opencv-python-headless==4.13.0.92
pillow==12.2.0
ImageHash==4.3.2
firebase-admin==7.4.0
bcrypt==5.0.0
qrcode==8.2
pyotp==2.9.0
python-dotenv==1.1.0
fpdf2==2.8.7
numpy==2.4.4
scikit-image==0.26.0
reportlab==4.4.10